<nav class="navbar flex justify-between max-md:items-center lg:sticky lg:top-4">
  <img src="as.svg" alt="Logo" class="w-[85px] h-[75px]"/>
  <ul class="navMenu flex items-center list-none m-0 text-base font-medium max-md:text-left max-md:h-screen">
    <li class="navItem my-0 mx-2 max-md:my-8">
      <a href="#aboutMe" class="item1 max-md:text-2xl">À Propos</a>
    </li>
    <li class="navItem my-0 mx-2 max-md:text-2xl">
      <a href="#skills" class="item2">Compétences</a>
    </li>
    <li class="navItem my-0 mx-2 max-md:text-2xl">
      <a href="#projects" class="item3">Projets</a>
    </li>
    <li class="navItem my-0 mx-2 max-md:text-2xl">
      <a href="#contact" class="item4">Contact</a>
    </li>
    <li class="navItem my-0 mx-2">
      <a href="CV_Aichatou_Soumaré_TIA(1).pdf" target="_blank"><button class="btn">
          <p class="max-md:text-2xl">Mon Cv</p>
        </button></a>
    </li>
  </ul>
  <label class="flex flex-col gap-2 w-8">
    <input class="peer hidden" type="checkbox" />
    <div class="rounded-2xl h-[3px] w-1/2 bg-black duration-500 peer-checked:rotate-[225deg] origin-right peer-checked:-translate-x-[12px] peer-checked:-translate-y-[1px]"></div>
    <div class="rounded-2xl h-[3px] w-full bg-black duration-500 peer-checked:-rotate-45"></div>
    <div class="rounded-2xl h-[3px] w-1/2 bg-black duration-500 place-self-end peer-checked:rotate-[225deg] origin-left peer-checked:translate-x-[12px] peer-checked:translate-y-[1px]"></div>
  </label>
</nav>
